body{ 
		margin: 0; 
		padding: 0; 
		background-color: #a7b8b8;
		}
	html, *{
		 box-sizing: border-box;
		 } 
    
.container{
    		     display :flex;
                 max-width: 700px;
                 top: 25px;
                 position: relative;
    			 padding: 5px;
    			 height : 520px;
    			 flex-wrap : wrap;
                 margin: 0 auto;
    			 }
.container > div {
    						text-align : left;
                             padding-left: 20px;
                             font-family: Geneva, Arial, Verdana,sans-serif ; I
                        }
.sub-container1 {
    										width : 100%;
    										background : #ffffff;
    										height: 200px;
    									    border-top-left-radius: 5px;
    					    	            border-top-right-radius: 5px;
                                            padding-top: 7px; 
                                            }
.join{
                                      color: #00a9a1;
                                        }	
.day{
                                        color :#b8c724 ;
                                    }
.gain{
                                        white-space: pre-line;
                                        line-height: 40px;
                                        color: #586e79;
                                    }
.month {
                                        font-weight: bold;
                                    }
.sub-container2, .sub-container3 {
    				      				width : 50%;
    				      				height: 320px;
                                       color: #ffffff;
                                        padding-top: 40px;
                                        }
.sub-container2 {
    				      					background : #49a0a0;
    				      					border-bottom-left-radius: 5px;
                                            padding-bottom: 20px;
                                            line-height: 35px;
    				      					}
                                     
.doll{
                                            font-size: xx-large;
                                            font-family: Geneva, Arial, Verdana,sans-serif ;
                                          }          
                                     
                                    
.signup {
                                                width: 80%;
                                                border-radius: 7px;
                                                border: none;
                                                font-size: large;
                                                color: #ffffff;
                                                height: 50px;
                                                background:  #b8c724;
                                                margin-top: 40px;
                                                }
.sub-container3 {
    				      					background : #5dcccc;
                                             border-bottom-right-radius: 5px;
                                         }
                                      .listed{
                                                white-space: pre-line;
                                                line-height: 25px;
                                             }
  @media only screen and (max-width: 600px) {
         .container {                                           
display:grid;
flex-direction: column;
justify-content: center;
}
.container>div{
				font-size: large;
                             font-family: Geneva, Arial, Verdana,sans-serif ;			
 display:flex;
 flex-direction:column;                            	}
.sub-container1{
				height: 350px;
				width: 100%;
				}
.sub-container2, .sub-container3{
				height: 300px;
				width:100%;
				display:flex;
				justify-content: center;
				}
				}
